@page "/Contributions"
@page "/Contributions/{mode}"
@using Blazor.WASM.Performance.Shared.Models;

<MudBlazor.MudAppBar>
    <MudBlazor.MudText Typo="MudBlazor.Typo.h4">
        Blazor WebAssembly Performance
    </MudBlazor.MudText>
    @if (Mode != "slow")
    {
        <MudBlazor.MudSpacer />
        <MudBlazor.MudToggleIconButton @bind-Toggled="_showGridView" Icon="@MudBlazor.Icons.Material.Filled.ViewList" ToggledIcon="@MudBlazor.Icons.Material.Filled.GridView" Color="MudBlazor.Color.Inherit" ToggledColor="MudBlazor.Color.Inherit"></MudBlazor.MudToggleIconButton>
    }
</MudBlazor.MudAppBar>

@if (_showGridView)
{
    <ContributionQuickGrid></ContributionQuickGrid>
}
else
{
    @if (Mode == "slow")
    {
        <ContributionsLoop></ContributionsLoop>
    }
    else
    {
        <ContributionVirtualize></ContributionVirtualize>
    }
}
<div class="action">
    <MudBlazor.MudButton OnClick="Clicked"
                         Target="_blank"
                         Variant="MudBlazor.Variant.Filled"
                         EndIcon="@MudBlazor.Icons.Material.Filled.Edit"
                         Color="MudBlazor.Color.Secondary">
        Click me....
    </MudBlazor.MudButton>
</div>