/* Fix height and enable scrolling */
.grid {
    height: calc(100vh - var(--mud-appbar-height) - 10rem);
    overflow-y: auto;
}

    .grid ::deep table {
        min-width: 100%;
        padding: 0.5rem;
    }

/* Sticky header while scrolling */
::deep thead {
    position: sticky;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
}

/* For virtualized grids, it's essential that all rows have the same known height */
::deep tr {
}

::deep tbody td {
    white-space: nowrap;
    overflow: hidden;
    max-width: 0;
    text-overflow: ellipsis;
}


/* Style the custom page links*/
.page-buttons {
    margin: 1rem 0;
    align-items: center;
}

    .page-buttons button {
        background: #d6d7d8;
        color: black;
        padding: 0.25rem 0.75rem;
        border-radius: 0.4rem;
        transition: transform 0.3s ease-out;
        margin: 0.25rem;
    }

        .page-buttons button:active {
            background: #a7c1ff !important;
            color: white;
            transform: scale(0.95) translateY(-0.15rem);
            transition-duration: 0.05s;
        }

        .page-buttons button:hover:not(.current) {
            background: #c0c9dc;
        }

        .page-buttons button.current {
            background: #3771f4;
            color: white;
        }
