@page "/Contributions"

<div class="container">
    <Virtualize Context="contribution" ItemsProvider="@LoadContributions">
        <ItemContent>
            <ContributionCard Contribution="@contribution"></ContributionCard>
        </ItemContent>
        <Placeholder>
            <PlaceholderCard></PlaceholderCard>
        </Placeholder>
    </Virtualize>
</div>
<div class="action">
    <MudButton OnClick="Clicked"
               Target="_blank"
               Variant="Variant.Filled"
               EndIcon="@Icons.Material.Filled.Edit"
               Color="Color.Secondary">
        Click me....
    </MudButton>
</div>