@page "/"

<p>Liste an Personen, die in einer Virtualize Komponente gerendert wird.</p>
<MudButton Class="margin-bottom" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="() => NavigateToContributions()">Virtualization</MudButton>

<p>Liste an Personen, die in einer for-Schleife gerendert wird.</p>
<MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" OnClick="() => NavigateToContributions(false)">Without Virtualization</MudButton>