@page "/people"

<div style="height:100vh;overflow-y:scroll">
    <MudList Clickable="true" Style="display: flex; flex-wrap: wrap; transition: all 2s;">
        <Virtualize Context="p" ItemsProvider="@LoadPeople" OverscanCount="50">
            <ItemContent>
                <PersonItem Person="@p"></PersonItem>
            </ItemContent>
            <Placeholder>
                <div>
                    <MudSkeleton SkeletonType="SkeletonType.Circle" Width="40px" Height="40px"/>
                    <MudSkeleton Animation="Animation.Wave"/>
                </div>
            </Placeholder>
        </Virtualize>
    </MudList>
</div>

<div class="action">
    <MudButton OnClick="Clicked"
               Target="_blank"
               Variant="Variant.Filled"
               EndIcon="@Icons.Material.Filled.Edit"
               Color="Color.Secondary">
        Click me....
    </MudButton>
</div>