@page "/SlowPeople"

@if (_people != null)
{
    <div style="height:100vh;overflow-y:scroll">
        <MudList Clickable="true" Style="display: flex; flex-wrap: wrap;">
            @foreach (var p in _people)
            {
                <PersonItem @key="@p.Name.First" Person="@p"></PersonItem>
            }
        </MudList>
    </div>
}

<div class="action">
    <MudButton OnClick="Clicked"
               Target="_blank"
               Variant="Variant.Filled"
               EndIcon="@Icons.Material.Filled.Edit"
               Color="Color.Secondary">
        Click me....
    </MudButton>
</div>