.container {
    height: calc(100vh - 89px);
    overflow-y: scroll;
    display: flex;
    flex-flow: wrap
}

::deep .card {
    width: 300px;
    height: 140px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

::deep .mud-card-actions {
    position: absolute;
    right: 0;
    bottom: 0;
}