.person-container {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.person-container p {
    margin-left: 12px;
}

label {
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.render-message {
    color: #ff584f;
}

.render-message, textarea {
    margin-bottom: 16px;
}

.margin-bottom {
    margin-bottom: 16px !important;
}

.action {
    position: fixed !important;
    bottom: 32px;
    right: 32px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    height: calc(100vh - 89px);
    overflow-y: scroll;
    display: flex;
    flex-flow: wrap
}

.card {
    width: 300px;
    height: 140px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.mud-card-actions {
    position: absolute;
    right: 0;
    bottom: 0;
}