@using Blazor.WASM.Client.Utils
@inherits InputBase<string>

<label>
    @Label <input class="form-control @CssClass" placeholder="Override ShouldRender" id="@Id" @bind="CurrentValue" @oninput="SuppressRender"/>
</label>
<p class="render-message">@_renderMessage</p>